<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Llama Chat</title>
    <link rel="stylesheet" href="/static/chat_style.css">
</head>
<body>
    <div class="container">
        <div class="status-bar">
        <div class="project-name">Чат с модельками</div>
        <div class="user-section">
            <span id="username-display"></span>
            <button onclick="logout()">Выход</button>
        </div>
        </div>

        <div class="sidebar">
            <h2>Чатики</h2>
            <button id="new-conversation">Новый диалог</button>
            <ul id="conversation-list"> </ul>
            <div id="edit-modal" class="modal">
                <div class="modal-content">
                    <span class="close-modal">&times;</span>
                    <h3>Редактирование названия чатика</h3>
                    <input type="text" id="edit-title-input">
                    <button id="save-title-btn">Сохранить</button>
                </div>
            </div>
        </div>
        <div class="chat-area">
            <div id="messages"></div>
            <div class="input-area">
                <input type="text" id="message-input" placeholder="Type your message..." disabled>
                <button id="send-button" disabled>Отправить</button>
            </div>
        </div>
    </div>
    <script src="/static/chat.js"></script>
</body>
</html>
